<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta property="og:type" content="article">
<meta name="author" content="Tobias Briones">
<meta name="twitter:creator" content="@tobiasbriones_">
<meta name="twitter:site" content="@tobiasbriones_">
<meta name="twitter:card" content="summary_large_image">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
{% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}


{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
{% if page.ogimage %}<meta property="og:image" content="{{ page.ogimage }}" />{% endif %}
{% if page.ogimage %}<meta property="twitter:image" content="{{ page.ogimage }}" />{% endif %}

<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
<title>{{ page.title }}</title>
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<style>
  img {
    display: block;
    margin: auto;
  }
</style>
